body {
    margin: 0%;
}

* {
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
    padding: .5em;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20em;
  }
  
  .menu-item {
    font: 16px "Bebas Neue";
  }
  
  .menu-item:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  a,
  a:link,
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  .menu-botao button {
    color: #23272a;
    background-color: white;
  
    border: none;
    border-radius: 30px;
  
    padding: 10px 15px;
  
    outline: none;
  
    transition: 0.4s;
    cursor: pointer;
  }
  
  .menu-botao button:hover {
    color: #7289da;
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
  }

.titulo-pagina {
    font: 2.5em "Bebas Neue";
    padding: 0em 1em;
}

.preco {
    padding-left: 6em;
}

.total2 {
    padding-left: 8em;
}

.frete2 {
    padding-left: 11.5em;
}

.box-container {
    display: flex;
    flex-direction: row;
}

.container-pagamento {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;

    padding: 1.5em 25em 2em 2em;
    margin: 1.5em 1.5em 1.5em 3em;

    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px #888;;

    justify-content: center;
}

.Cartão > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    align-items: center;
}


.box-pedido {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;

    justify-items: center;

    padding: 2em;
    margin: 2em;

    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px #888;;
}

.pedido-desc, .desc, .c-t {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.info h1 {
    text-align: center;
    font-size: 1em;
}

.f-p, .total {
    padding: 1em 0em;
    font: 1.2em "Oswald";
}

.f-p span, .total span {
    font: 1.2em "Bebas Neue";
}

.titulo-produto {
    font: 1.2em "Bebas Neue";
}

.cor, .tamanho {
    font: 1em "Oswald";
    font-weight: 400;
}

.cor span, .tamanho span {
    font: 1em "Oswald";
    font-weight: 200;
}

.botao button {
    background-color: #5EC5FF;
    font: 1.2em "Bebas Neue";

    text-align: center;
    padding: 0em 2.5em;
    
    border-radius: 5px;
    border: none;

    cursor: pointer;
    transition-duration: 0.5s;
    text-decoration: none;
}

.botao button:hover {
    background-color: #5EC5FF;
    opacity: 0.6;
    color: black;
}

.box-pagamento img {
    width: 64px;
    height: 64px;

    justify-content: center;
    justify-items: center;
    align-items: center;

    padding: 0.5em;
}

.box-pagamento {
    font: 1.5em "Bebas Neue";
}
