* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

span {
  font: 1.2em "Oswald";
  font-weight: 400;
  padding: 0.1em;
}

option {
  font: 0.5em "Oswald" 200;
}

cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: .5em;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20em;
}

.menu-item {
  font: 16px "Bebas Neue";
}

.menu-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.menu-botao button {
  color: #23272a;
  background-color: white;

  border: none;
  border-radius: 30px;

  padding: 10px 15px;

  outline: none;

  transition: 0.4s;
  cursor: pointer;
}

.menu-botao button:hover {
  color: #7289da;
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

.container-produto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nome-produto {
  padding: 20em;
}